 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm an iOS Developer based in New York City. Building iOS apps for 2 years, I'm currently the lead iOS developer at LiveAuctioneers. I mainly use Objective C, and am learning Swift.
                 </p>
                </div>
                <div class="col-lg-4">
                    <p> I graduated from Wheaton College(MA) with BA degree. Double major in Computer Science and Economics. I'm also the special correspondent of 36Kr. </p>
                </div>
            </div>
        </div>
    </section>